{% extends "basicapp/base.html" %}
{% block body_block %}
<div class="container">
<div class="jumbotron">
	<h1>Website Home Page</h1>
	<div class="tenor-gif-embed" data-postid="12469724" data-share-method="host" data-width="75%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/idk-chief-idont-know-about-that-one-chief-chief-gif-12469724">Idk Chief IDont Know About That One Chief GIF</a> from <a href="https://tenor.com/search/idkchief-gifs">Idkchief GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
</div>
{% endblock %}